### YamlMime:OData
uid: Microsoft.Dynamics.CRM.msdyn_entitlementapplication
name: "msdyn_entitlementapplication"
type: entitytype
metadata: 
  title: "Common Data Service EntityType Reference | MicrosoftDocs"
  ms.date: "02/10/2021"
  ms.service: "powerapps"
  ms.topic: "reference"
  ms.assetid: 83a0f7a0-f993-418e-a067-236f51e9f3fa
  author: "kumarvivek"
  ms.author: "kvivek"
  manager: "annbe"
  meta-description: "Reference information about the Common Data Service msdyn_entitlementapplication entitytype."
description: "Entitlement Application that will drive automatic application when the work was performed for Service Account, Customer Asset, Asset Category, Incident Type and Entitlement."
header:
  entity_set_path: "[organization URI]/api/data/v9.0/msdyn_entitlementapplications"
  base_type: Microsoft.Dynamics.CRM.crmbaseentity
  display_name: Entitlement Application
  primary_key: msdyn_entitlementapplicationid
  primary_name_attribute: msdyn_name
  operations_supported:
  - POST
  - GET
  - PATCH
  - DELETE
namespace: Microsoft.Dynamics.CRM
properties:
  description: "Properties represent fields of data stored in the entity.Some properties are read-only."
  property_items:
    - name: createdon
      type: Edm.DateTimeOffset
      display_name: "Created On"
      description: "Date and time when the record was created."
      iscomputed: false
      isreadonly: true
    - name: importsequencenumber
      type: Edm.Int32
      display_name: "Import Sequence Number"
      description: "Sequence number of the import that created this record."
      iscomputed: false
      isreadonly: false
    - name: modifiedon
      type: Edm.DateTimeOffset
      display_name: "Modified On"
      description: "Date and time when the record was modified."
      iscomputed: false
      isreadonly: true
    - name: msdyn_entitlementapplicationid
      type: Edm.Guid
      display_name: "Entitlement Application"
      description: "Unique identifier for entity instances"
      iscomputed: false
      isreadonly: false
    - name: msdyn_name
      type: Edm.String
      display_name: "Name"
      description: "The name of entitlement application name"
      iscomputed: false
      isreadonly: false
    - name: overriddencreatedon
      type: Edm.DateTimeOffset
      display_name: "Record Created On"
      description: "Date and time that the record was migrated."
      iscomputed: false
      isreadonly: false
    - name: statecode
      type: Edm.Int32
      display_name: "Status"
      description: "Status of the Entitlement Application"
      iscomputed: false
      isreadonly: false
      options:
        - value: 0
          label: "Active"
        - value: 1
          label: "Inactive"
    - name: statuscode
      type: Edm.Int32
      display_name: "Status Reason"
      description: "Reason for the status of the Entitlement Application"
      iscomputed: false
      isreadonly: false
      options:
        - value: 1
          label: "Active"
        - value: 2
          label: "Inactive"
    - name: timezoneruleversionnumber
      type: Edm.Int32
      display_name: "Time Zone Rule Version Number"
      description: "For internal use only."
      iscomputed: false
      isreadonly: false
    - name: utcconversiontimezonecode
      type: Edm.Int32
      display_name: "UTC Conversion Time Zone Code"
      description: "Time zone code that was in use when the record was created."
      iscomputed: false
      isreadonly: false
    - name: versionnumber
      type: Edm.Int64
      display_name: "Version Number"
      description: "Version Number"
      iscomputed: false
      isreadonly: true
lookup_properties:
  description: "Lookup properties are read-only, computed properties which contain entity primary key Edm.Guid data for one or more corresponding single-valued navigation properties. More information: [Lookup properties](https://docs.microsoft.com/dynamics365/customer-engagement/developer/webapi/web-api-types-operations#lookup-properties) and [Retrieve data about lookup properties](https://docs.microsoft.com/dynamics365/customer-engagement/developer/webapi/query-data-web-api#retrieve-data-about-lookup-properties)."
  property_items:
  - name: _createdby_value
    single_valued_navigation_property:
    - createdby
    description: "Unique identifier of the user who created the record."
  - name: _createdonbehalfby_value
    single_valued_navigation_property:
    - createdonbehalfby
    description: "Unique identifier of the delegate user who created the record."
  - name: _modifiedby_value
    single_valued_navigation_property:
    - modifiedby
    description: "Unique identifier of the user who modified the record."
  - name: _modifiedonbehalfby_value
    single_valued_navigation_property:
    - modifiedonbehalfby
    description: "Unique identifier of the delegate user who modified the record."
  - name: _msdyn_assetcategory_value
    single_valued_navigation_property:
    - msdyn_assetcategory
    description: "Entitlement Application record will only drive automatic application when the work was performed for this Customer Asset Category. If populated with other fields, then both must be true."
  - name: _msdyn_customerasset_value
    single_valued_navigation_property:
    - msdyn_customerasset
    description: "Entitlement Application record will only drive automatic application when the work was performed for this customer asset. If populated with other fields, both must be true."
  - name: _msdyn_entitlement_value
    single_valued_navigation_property:
    - msdyn_entitlement
    description: "Entitlement Application record will only drive automatic application for this related Entitlement."
  - name: _msdyn_incidenttype_value
    single_valued_navigation_property:
    - msdyn_incidenttype
    description: "Entitlement Application record will only drive automatic application when the work was performed related to this incident type. If populated with other fields, both must be true."
  - name: _msdyn_serviceaccount_value
    single_valued_navigation_property:
    - msdyn_serviceaccount
    description: "Entitlement Application record will only drive automatic application when the work was performed for this service account. If populated with other fields, both must be true."
  - name: _ownerid_value
    single_valued_navigation_property:
    - ownerid
    description: "Owner Id"
  - name: _owningbusinessunit_value
    single_valued_navigation_property:
    - owningbusinessunit
    description: "Unique identifier for the business unit that owns the record"
  - name: _owningteam_value
    single_valued_navigation_property:
    - owningteam
    description: "Unique identifier for the team that owns the record."
  - name: _owninguser_value
    single_valued_navigation_property:
    - owninguser
    description: "Unique identifier for the user that owns the record."
single_valued_navigation_properties:
  description: "Single-valued navigation properties represent lookup fields where a single entity can be referenced. Each single-valued navigation property has a corresponding partner collection-valued navigation property on the related entity."
  property_items:
  - name: createdby
    type: Microsoft.Dynamics.CRM.systemuser
    partner: lk_msdyn_entitlementapplication_createdby
  - name: createdonbehalfby
    type: Microsoft.Dynamics.CRM.systemuser
    partner: lk_msdyn_entitlementapplication_createdonbehalfby
  - name: modifiedby
    type: Microsoft.Dynamics.CRM.systemuser
    partner: lk_msdyn_entitlementapplication_modifiedby
  - name: modifiedonbehalfby
    type: Microsoft.Dynamics.CRM.systemuser
    partner: lk_msdyn_entitlementapplication_modifiedonbehalfby
  - name: msdyn_assetcategory
    type: Microsoft.Dynamics.CRM.msdyn_customerassetcategory
    partner: msdyn_msdyn_customerassetcategory_msdyn_entitlementapplication_assetcategory
  - name: msdyn_customerasset
    type: Microsoft.Dynamics.CRM.msdyn_customerasset
    partner: msdyn_msdyn_customerasset_msdyn_entitlementapplication_customerasset
  - name: msdyn_entitlement
    type: Microsoft.Dynamics.CRM.entitlement
    partner: msdyn_entitlement_msdyn_entitlementapplication_entitlement
  - name: msdyn_incidenttype
    type: Microsoft.Dynamics.CRM.msdyn_incidenttype
    partner: msdyn_msdyn_incidenttype_msdyn_entitlementapplication_incidenttype
  - name: msdyn_serviceaccount
    type: Microsoft.Dynamics.CRM.account
    partner: msdyn_account_msdyn_entitlementapplication_serviceaccount
  - name: ownerid
    type: Microsoft.Dynamics.CRM.principal
    partner: owner_msdyn_entitlementapplication
  - name: owningbusinessunit
    type: Microsoft.Dynamics.CRM.businessunit
    partner: business_unit_msdyn_entitlementapplication
  - name: owningteam
    type: Microsoft.Dynamics.CRM.team
    partner: team_msdyn_entitlementapplication
  - name: owninguser
    type: Microsoft.Dynamics.CRM.systemuser
    partner: user_msdyn_entitlementapplication
collection_valued_navigation_properties:
  description: "Collection-valued navigation properties represent collections of entities which may represent either a one-to-many (1:N) or many-to-many (N:N) relationship between the entities."
  property_items:
  - name: msdyn_entitlementapplication_AsyncOperations
    type: Microsoft.Dynamics.CRM.asyncoperation
    partner: regardingobjectid_msdyn_entitlementapplication
  - name: msdyn_entitlementapplication_BulkDeleteFailures
    type: Microsoft.Dynamics.CRM.bulkdeletefailure
    partner: regardingobjectid_msdyn_entitlementapplication
  - name: msdyn_entitlementapplication_DuplicateBaseRecord
    type: Microsoft.Dynamics.CRM.duplicaterecord
    partner: baserecordid_msdyn_entitlementapplication
  - name: msdyn_entitlementapplication_DuplicateMatchingRecord
    type: Microsoft.Dynamics.CRM.duplicaterecord
    partner: duplicaterecordid_msdyn_entitlementapplication
  - name: msdyn_entitlementapplication_MailboxTrackingFolders
    type: Microsoft.Dynamics.CRM.mailboxtrackingfolder
    partner: regardingobjectid_msdyn_entitlementapplication
  - name: msdyn_entitlementapplication_PrincipalObjectAttributeAccesses
    type: Microsoft.Dynamics.CRM.principalobjectattributeaccess
    partner: objectid_msdyn_entitlementapplication
  - name: msdyn_entitlementapplication_ProcessSession
    type: Microsoft.Dynamics.CRM.processsession
    partner: regardingobjectid_msdyn_entitlementapplication
  - name: msdyn_entitlementapplication_SyncErrors
    type: Microsoft.Dynamics.CRM.syncerror
    partner: regardingobjectid_msdyn_entitlementapplication
# This entity has no derived entities.
operations:
  description: "The following operations can be used with the msdyn_entitlementapplication entity type."
  operation_items:
  - name: Microsoft.Dynamics.CRM.GrantAccess
    binding_type: "Not Bound"
  - name: Microsoft.Dynamics.CRM.IsValidStateTransition
    binding_type: "Not Bound"
  - name: Microsoft.Dynamics.CRM.ModifyAccess
    binding_type: "Not Bound"
  - name: Microsoft.Dynamics.CRM.RetrievePrincipalAccess
    binding_type: "Not Bound"
  - name: Microsoft.Dynamics.CRM.RetrieveSharedPrincipalsAndAccess
    binding_type: "Not Bound"
  - name: Microsoft.Dynamics.CRM.RevokeAccess
    binding_type: "Not Bound"
solutions:
  description: "The following solutions include the msdyn_entitlementapplication entity type."
  solution_items:
  - type: Microsoft.Dynamics.CRM.FieldService
    description: "Microsoft Dynamics 365 for Field Service allows organizations of any size to deliver intelligent, world class field service, managing all aspects of the end-to-end field service management cycle. Features include scheduling, mobile, asset management, inventory control, customer notifications, and resource utilization controls that help maximize efficiency and minimize costs."
  - type: Microsoft.Dynamics.CRM.msdyn_FieldService_patch_update
    description: "Microsoft Dynamics 365 Field Service allows organizations of any size to deliver intelligent, world class field service, managing all aspects of the end-to-end field service management cycle. Features include scheduling, mobile, asset management, inventory control, customer notifications, and resource utilization controls that help maximize efficiency and minimize costs."
# There are no remarks for this entity.
href_see_also:
- text: "Use the Common Data Service Web API"
  href: "https://docs.microsoft.com/powerapps/developer/common-data-service/webapi/overview"
xref_see_also:
- Microsoft.Dynamics.CRM.EntityTypeIndex
- Microsoft.Dynamics.CRM.ActionIndex
- Microsoft.Dynamics.CRM.FunctionIndex
- Microsoft.Dynamics.CRM.QueryFunctionIndex
- Microsoft.Dynamics.CRM.ComplexTypeIndex
- Microsoft.Dynamics.CRM.EnumTypeIndex
- Microsoft.Dynamics.CRM.MetadataEntityTypeIndex
- Microsoft.Dynamics.CRM.SolutionIndex